body {
    margin: 0; height: 100%; overflow: hidden
}

header,
main,
footer{
    border: 2px solid red;
    position: relative;
    height:200px;
    display: flex;
    align-content: center;
}

.container {
    border: 2px solid blue;
    width:500px;
    height: 100px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#c2 {
    height: 150px;
}